---

const { variant, size } = Astro.props;

const logoSettings = (logoSize: string) => {
  if (logoSize === "sm") {
    return {
      fontClasses: "text-4xl",
      iconSize: 50,
      lineSvg: { w: 230, h: 25 },
    };
  }
  return "";
};

// variant display parts of logo,
const varientComponents = () => {
  if (variant) {
    return ["icon", "text"].filter((type) => type === variant);
  } else return ["icon", "text"];
};
// const varientComponents = compilevarietn;
const desiredStyles = logoSettings(size);
---

<div class="flex items-center gap-2">
  <img
    src="/images/logos/electriclynxlogo-whitesquig.png"
    alt="Electric Lynx Logo"
    class="w-auto h-auto shrink-0"
    style="height: clamp(2.5rem, 8vw, 6rem);" 
  />
</div>
